/* Aplicar box-sizing global */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Estilos para el cuerpo de la página */
body {
    font-family: 'Lato', sans-serif;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Estilos para el contenedor principal */
.rounded-square {
    background-color: #1e272e;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid #008bf8;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

/* Estilos para el contenedor del nombre y apellido */
.name-lastname {
    margin-bottom: 20px;
}

/* Estilos para los títulos del nombre y apellido */
h4 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #61a7ec;
    margin: 0;
}

/* Estilos para los párrafos */
p {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #d2dae2;
}

/* Estilo para destacar los campos */
p strong {
    color: #fff;
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    .rounded-square {
        width: 90%;
    }

    h4 {
        font-size: 1.4rem;
    }

    p {
        font-size: 1rem;
    }
}